.anfahrt{
    scroll-margin-top: var(--header-height);
    padding-top: 100px;
    padding-bottom: 150px;
}

.anfahrt span{
    color: var(--accent-color-alt);
    font-size: 1.4rem;
    display: block;
    text-align: center;
}

.anfahrt h2{
    margin-bottom: calc(var(--title-mb) + 30px);
    text-align: center;
    padding: 0 20px;
}

.anfahrt .wrapper{
    display: flex;
    gap: 50px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.anfahrt .wrapper .left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.anfahrt .wrapper .left h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 400;
    /* color: var(--accent-color); */
}

.anfahrt .wrapper .left p{
    font-size: 1.1rem;
}

.anfahrt .wrapper .right img{
    width: 400px;
}


@media (max-width: 1450px){
    .anfahrt .wrapper{
        flex-direction: column;
        text-align: center;
        gap: 100px;
    }
    .anfahrt .wrapper p{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 800px){
    .anfahrt{
        padding-top: var(--section-padding-top);
        padding-bottom: var(--section-padding-top);
    }
    .anfahrt .wrapper .left{
        padding: 0px 50px;
    }
    .anfahrt .wrapper p{
        width: 100%;
    }
    .anfahrt h2{
        font-size: 2rem;
    }
    .anfahrt span{
        font-size: 1.2rem;
    }
}

@media (max-width: 500px){
    .anfahrt .wrapper .right img{
        width: 85%;
    }
}





/* scroll Animations */
.anfahrt span.scrollAnimated,
.anfahrt h2.scrollAnimated{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.anfahrt span.scrollAnimated.visible,
.anfahrt h2.scrollAnimated.visible{
    opacity: 1;
    transform: translateY(0);
}

.anfahrt .wrapper{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}
.anfahrt .wrapper.visible{
    opacity: 1;
    transform: translateY(0);
}