.unsereGerichte{
    scroll-margin-top: var(--header-height);
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-top);
    background: rgb(41, 41, 41);
    color: white;
}


.unsereGerichte .text{
    margin: auto;
    margin-bottom: var(--section-padding-top);
}

.unsereGerichte h2{
    margin-bottom: var(--title-mb);
    text-align: center;
    color: var(--accent-color);
    position: relative;
}

.unsereGerichte h2 a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    color: var(--accent-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.unsereGerichte p{
    margin: auto;
    width: 70%;
    font-size: 1.2rem;
    color: rgb(243, 243, 243);
    text-align: center;
}


.unsereGerichte .slider-container{
    position: relative;
    width: 90vw;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}

.unsereGerichte .slider-container .counter{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 10px;
    z-index: 20;
}

.unsereGerichte .slider-container .slider{
    display: flex;
    width: fit-content;
    height: 100%;
    transition: transform 1s ease;
}

.unsereGerichte .slider-container .slider.grabbing{
    cursor: grabbing;
}

.unsereGerichte .slider-container .slider .slide{
    width: 90vw;
    height: 100%;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.unsereGerichte .slider-container .slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.unsereGerichte .slider-container .desktop-arrows .prev,
.unsereGerichte .slider-container .desktop-arrows .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
    border: none;
    outline: none;
    padding: 20px;
}


.unsereGerichte .slider-container .desktop-arrows .prev{
    left: 0;
    border-radius: 0 10px 10px 0;
    transition: opacity 1s ease;
}

.unsereGerichte .slider-container .desktop-arrows .next{
    right: 0;
    border-radius: 10px 0 0 10px;
    transition: opacity 1s ease;
}



.unsereGerichte .dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

.unsereGerichte .dots .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(171, 169, 169);
    cursor: pointer;
}

.unsereGerichte .mobile-arrows .dots .dot.active{
    background-color: var(--accent-color-alt);
}



/* scroll animations */
.unsereGerichte .text{
    opacity: 0;
    transition: all 2s ease;
    transform: translateX(50px);
}

.unsereGerichte .text.visible{
   opacity: 1;
   transform: translateX(0);
}

.unsereGerichte .slider-container{
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
}

.unsereGerichte .slider-container.visible{
   opacity: 1;
   transform: translateY(0);
}





/* Fsize adjustment */
@media screen and (max-width: 1800px){
    .unsereGerichte p{
        width: 80%;
    }
}
@media screen and (max-width: 1550px){
    .unsereGerichte p{
        width: 90%;
    }
}
@media screen and (max-width: 1400px){
    .unsereGerichte p{
        width: 80%;
    }
    .unsereGerichte p .big-br{
        display: none;
    }
}

/* hide arrows since prob touch device */
@media screen and (max-width: 1000px){
    .unsereGerichte .slider-container .desktop-arrows{
        display: none;
    }
    .unsereGerichte p{
        width: 90%;
    }
}


/* set Menü link underneath */
@media screen and (max-width: 900px){
    .unsereGerichte h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .unsereGerichte h2 a{
        position: static;
    }
}

@media screen and (max-width: 700px){
    .unsereGerichte h2{
        font-size: 2.2rem;
        padding: 0 10px;
    }

    .unsereGerichte p{
        font-size: 1.1rem;
    }
}