.unsereFamilie {
    scroll-margin-top: calc(var(--header-height) - 1px);
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-top);
    position: relative;
}

.unsereFamilie h2{
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: calc(var(--section-padding-top) + 20px) ;
}

.unsereFamilie span{
    color: var(--accent-color-alt);
    font-size: 1.4rem;
    text-align: center;
    display: block;
}

.unsereFamilie .leitenschenke,
.unsereFamilie .hotel-lisetta,
.unsereFamilie .meringerhof{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px;
}

.unsereFamilie .img,
.unsereFamilie .text{
    width: 50%;
}

.unsereFamilie .img img{
    width: 100%;
}

.unsereFamilie .text h3{
    font-size: 2rem;
    margin-top: 30px;
    font-weight: 400;
}

.unsereFamilie .text p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.unsereFamilie .leitenschenke .text a,
.unsereFamilie .hotel-lisetta .text a,
.unsereFamilie .meringerhof .text a{
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    display: inline-block;
    margin-top: 50px;
}

.unsereFamilie .leitenschenke .text a:hover,
.unsereFamilie .hotel-lisetta .text a:hover,
.unsereFamilie .meringerhof .text a:hover{
    transform: scale(0.96);
}





/* scroll Animations */
.unsereFamilie span,
.unsereFamilie h2{
    opacity: 0;
    transform: translateY(-50px);
    transition: all 2s;
}
.unsereFamilie span.visible,
.unsereFamilie h2.visible{
    transform: translateY(0);
    opacity: 1;
}

.unsereFamilie .leitenschenke{
    opacity: 0;
    transform: translateX(20px);
    transition: all 1.5s;
}
.unsereFamilie .leitenschenke.visible{
    opacity: 1;
    transform: translateX(0);
}

.unsereFamilie .hotel-lisetta{
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1.5s;
}
.unsereFamilie .hotel-lisetta.visible{
    opacity: 1;
    transform: translateX(0);
}

.unsereFamilie .meringerhof{
    opacity: 0;
    transform: translateX(20px);
    transition: all 1.5s;
}
.unsereFamilie .meringerhof.visible{
    opacity: 1;
    transform: translateX(0);
}






/* cards in column layout */
@media (max-width: 1450px) {
    .unsereFamilie .leitenschenke,
    .unsereFamilie .hotel-lisetta,
    .unsereFamilie .meringerhof{
        flex-direction: column;
        width: 100%;
        gap: 0px;
        margin: auto;
        margin-top: 50px;
    }

    .unsereFamilie .leitenschenke{
        margin-top: 0;
    }
    
    .unsereFamilie .img,
    .unsereFamilie .text{
        width: 100%;
        margin: auto;
        text-align: center;
        background: rgb(238, 238, 238);
    }

    .unsereFamilie .text{
        padding-bottom: 50px;
        border-radius: 0 0 30px 30px;
    }

    .unsereFamilie .hotel-lisetta .text{
        order: 2;
    }
}


@media (max-width: 720px){
    .unsereFamilie br{
        display: none;
    }
    .unsereFamilie .text{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 550px){
    .unsereFamilie h2{
        font-size: 2.3rem;
    }
    .unsereFamilie span{
        font-size: 1.2rem;
    }
}