.willkommen .landing-page{
    /* Background Gradient ist set trough JS after Video is loaded */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Versteckt überstehende Teile des Videos */
    padding: 20vh 0 0 0; /* spaces the heading from the top */
}

.willkommen .landing-page #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 104%; /* to give enough high for it to float */
    z-index: -1; /* Stellt das Video hinter den Inhalt */
    animation: float 15s infinite;
}


/* BG Video Animation */
@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -51.8%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}


.willkommen .landing-page span{
    color: rgb(239, 239, 239);
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.willkommen .landing-page img.heading{
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.willkommen .landing-page i {
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.5rem;
    background-color: var(--transparent-color);
    padding: 10px;
    border-radius: 50%;
}

.willkommen .landing-page i {
    opacity: 0;
    animation: wiggleContinuous 4s infinite 2.5s, fadeIn calc(var(--load-duration) + 1s) forwards 1.5s; /* fadeIn is defined at  on page load animations underneath */
}
/* Hover effect */
.willkommen .landing-page i:hover {
    animation: wiggle 0.5s, fadeIn calc(var(--load-duration) + 1s) forwards 1.5s;
}
/* Onclick animation */
.willkommen .landing-page i.animated {
    animation: swipe 1s ease-out;
}


/* Arrow Down Animations */
    /* wiggles on hover */
@keyframes wiggle {
    0% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
    30% {
        transform: translate(-50%, -10%) rotate(-5deg);
    }
    50% {
        transform: translate(-50%, 10%) rotate(5deg);
    }
    80% {
        transform: translate(-50%, -5%) rotate(-3deg);
    }
    100% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
}


    /* swipes down on click */
@keyframes swipe{
    0%{
        transform: translate(-50%, 0%);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-50%, 300%);
    }
}


    /* wiggles continuous */
@keyframes wiggleContinuous {
    0% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
    2.5% {
        transform: translate(-50%, -10%) rotate(-5deg);
    }
    5% {
        transform: translate(-50%, 10%) rotate(5deg);
    }
    7.5% {
        transform: translate(-50%, -5%) rotate(-3deg);
    }
    10% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
    /* sets pause inbetween every animation loop */
}






    	/* NEWS */
.willkommen .landing-page .news{
    position: absolute;
    top: 50%;
    transform: translateY(120px);
    background: var(--accent-color-dark);
    padding: 10px;
    border-radius: 10px 0 0 10px;
    right: 0;
    max-width: 90vw;
    display: none;
}

.willkommen .landing-page .news span{
    margin: 10px;
    text-align: left;
}







/* Page Load Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.willkommen .landing-page span {
    opacity: 0;
    animation: fadeIn calc(var(--load-duration) + 1s) forwards; /* add 1s to the root load duration */
    animation-delay: 0.2s; /* delays the animation after page loads */
}

.willkommen .landing-page img.heading {
    opacity: 0;
    animation: fadeIn calc(var(--load-duration) + 1s) forwards; /* add 1s to the root load duration */
    animation-delay: 0.2s; /* delays the animation after page loads */
}

/* Arrow Down Page Load Animation is set above */







/* Media Queries */
/* font adjusts */
@media screen and (max-width: 1600px){
    .willkommen .landing-page .news span{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1000px){
    .willkommen .landing-page .news span{
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px){
    .willkommen .landing-page .news span{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 500px){
    .willkommen .landing-page .news span{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 430px){
    .willkommen .landing-page .news span{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 380px){
    .willkommen .landing-page .news span{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 330px){
    .willkommen .landing-page .news span{
        font-size: 0.5rem;
    }
}


@media screen and (max-width: 600px){
    .willkommen .landing-page img.heading{
        width: 100%;
    }
    .willkommen .landing-page span{
        font-size: 1.1rem;
    }
}




    /* Height Querys */
@media (max-height: 900px){
    .willkommen .landing-page i {
        bottom: 50px;
    }
    .willkommen .landing-page #background-video {
        top: 40%;  /* to make more of the terasse visible */
        min-height: 100%;
        animation: unset; /* delete animation on mobile to avoid underflow */
    }
}