.überUns{
    padding-top: var(--section-padding-top);
    scroll-margin-top: var(--header-height);
    padding-bottom: var(--section-padding-top);
}

.überUns .text{
    margin: auto;
    margin-bottom: var(--section-padding-top);
}

.überUns h2{
    margin-bottom: var(--title-mb);
    text-align: center;
    padding: 0 20px;
}

.überUns p{
    margin: auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}

.überUns b{
    display: block;
    text-align: center;
    color: var(--accent-color-alt);
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 600;
}

.überUns span{
    text-align: center;
    display: block;
    font-size: 1.2rem;
}

.überUns .slider-container {
    position: relative;
    width: 90vw;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.überUns .slider-container .counter{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 10px;
    z-index: 20;
}

.überUns .slider-container .slider {
    display: flex;
    gap: 1vw;
    height: 100%;
    width: fit-content;
    transition: transform 1s ease;
    cursor: grab;
}

.überUns .slider-container .slider.grabbing{
    cursor: grabbing;
}

.überUns .slider-container .slide{
    width: 29.33vw;
    height: 100%;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.überUns .slider-container .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.überUns .slider-container .desktop-arrows .prev,
.überUns .slider-container .desktop-arrows .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    background-color: var(--accent-color-dark);
    color: white;
    border: none;
    padding: 10px;
    z-index: 10;
}

.überUns .slider-container .desktop-arrows .prev {
    left: 0px;
    border-radius: 0 10px 10px 0;
    transition: opacity 1s ease;
}

.überUns .slider-container .desktop-arrows .next {
    right: 0px;
    border-radius: 10px 0 0 10px;
    transition: opacity 1s ease;
}



.überUns .dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

.überUns .mobile-arrows .dots .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(171, 169, 169);
    cursor: pointer;
}

.überUns .mobile-arrows .dots .dot.active{
    background-color: var(--accent-color-alt);
}





/* scroll animations */
.überUns .text{
    opacity: 0;
    transition: all 2s ease;
    transform: translateX(50px);
}

.überUns .text.visible{
   opacity: 1;
   transform: translateX(0);
}

.überUns .slider-container{
    opacity: 0;
    transition: all 2s ease;
    transform: translateX(100px);
}

.überUns .slider-container.visible{
    opacity: 1;
    transform: translateX(0);
}






    /* Slider adjustment */
@media screen and (max-width: 1400px){
    .überUns .slider-container .slide{
        width: 44.5vw;
    }
}

@media screen and (max-width: 1000px){
    .überUns .slider-container .slide{
        width: 90vw;
    }
    .überUns .slider-container .slider{
        gap: 0;
    }
    /* hide arrows since prob touch device */
    .überUns .slider-container .desktop-arrows{
        display: none;
    }
    .überUns .slider-container {
        border-radius: 0px;
    }
}


    /* Fsize adjustment */
@media screen and (max-width: 1500px) {
    .überUns .text p{
        width: 70%;
    }
}
@media screen and (max-width: 1200px){
    .überUns .text p{
        width: 90%;
    }
}
@media screen and (max-width: 800px){
    .überUns .text h2{
        font-size: 2rem;
    }
    .überUns .text p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 700px){
    .überUns .text h2{
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 600px){
    .überUns .text h2{
        font-size: 1.6rem;
    }
    .überUns .text p{
        font-size: 1rem;
    }
    .überUns .text b,
    .überUns .text span{
        font-size: 1rem;
    }
}